<!DOCTYPE html>
<html lang="en">
	<head>
		<%= include('head') %>
		<title><%= title %></title>
	</head>
	<body>
		<nc-nav></nc-nav>
		<main class="index">
			<h1><%= content.index.title %></h1>
			<div class="sep"></div>
			<p><%= content.index.description %></p>
		</main>
	</body>
</html>
