<!DOCTYPE html>
<html lang="en">
	<head>
		<%= include('head') %>
		<title><%= title %></title>
	</head>
	<body>
		<nc-nav></nc-nav>
		<main class="sign-in">
			<nc-form>
				<input type="submit" value="test">
			</nc-form>
		</main>
	</body>
</html>
