$background-1: #fff;
$background-2: #ededed;

$trim-1: #ee6c4d;
$trim-2: #ed4ae0;

$border-1: #22222238;
$border-2: #22222266;

@if true {
} @else {
	$background-1: #111;
	$background-2: #333;

	$trim-1: #b00b69;
	$trim-2: #042069;

	$border-1: #eeeeee38;
	$border-2: #eeeeee66;
}

$common-shadow: 0px 0px 10px -5px #000;

$nav-height: 2em;
